<div class="intents-container">
    <h3 class="heading">Summary</h3>
    <p class="message">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora voluptatum repellendus commodi
        cumque laborum, ex tempore voluptas!
    </p>


    <div class="table-container">

        <div class="search-container">
            <div class="search-box">
                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="currentColor" class="bi bi-search"
                    viewBox="0 0 16 16">
                    <path
                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                </svg>
                <input class="search-input" type="search" placeholder="search intent or utternace">
            </div>
        </div>

        <table class="table table-borderless">
            <thead class="table-success table-header border-2 border-top border-bottom  border-dark-subtle">
                <tr>
                    <th class="align-middle">Intent</th>
                    <th class="align-middle">Messages</th>
                    <th class="align-middle">Importance</th>
                    <th class="align-middle">Accuracy</th>
                    <th class="align-middle">Catch all</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >Greetings</td>
                    <td>102</td>
                    <td>98%</td>
                    <td class="text-success">1</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Bye</td>
                    <td>54</td>
                    <td>2%</td>
                    <td class="text-danger">.5</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Office hours</td>
                    <td>10</td>
                    <td>5%</td>
                    <td class="text-success">8</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Location</td>
                    <td>45</td>
                    <td>34%</td>
                    <td class="text-warning">5.2</td>
                    <td>9</td>
                </tr>
               
            </tbody>
        </table>
    </div>




</div>