<div class="sidebar">
    <div class="sidebar-items">
        <a class="sidebar-item" routerLink="train-your-bot">
            <div class="item-title">Train your bot</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <div class="divider"></div>
        <a class="sidebar-item" routerLink="intents">
            <div class="item-title">Intents</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <div class="divider"></div>
        <a class="sidebar-item" routerLink="catchAll">
            <div class="item-title">Catch all</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <div class="divider"></div>
        <a class="sidebar-item" routerLink="analytics">
            <div class="item-title">Analytics</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <div class="divider"></div>
        <a class="sidebar-item" routerLink="answers">
            <div class="item-title">Answers</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <a class="sidebar-item" routerLink="summary">
            <div class="item-title">Summary</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
        <div class="divider"></div>
        <a class="sidebar-item" routerLink="divergence">
            <div class="item-title">Divergence</div>
            <div class="item-content">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Optio accusantium a neque, 
            </div>
        </a>
    </div>
</div>
