.heading {
    font-weight: 400;
    margin: 25px 0 15px 0;
    font-size: 16px;
    color: #b5b1b1;

}

.questions-container {}

.question-list {
    display: flex;
    flex-flow: column;
    gap: 20px;
    padding: 5px 2px 0 2px;
    overflow-y: scroll;
    height: 440px;

}

.question-info {
    padding: 10px;
    box-shadow: 0px 0px 2px 0px rgba(49, 47, 47, 0.75);
    -webkit-box-shadow: 0px 0px 2px 0px rgba(49, 47, 47, 0.75);
    -moz-box-shadow: 0px 0px 2px 0px rgba(49, 47, 47, 0.75);
    border-radius: 5px;
}

.btn {
    font-weight: 500;
    padding: 3px 5px;
}

.question {
    font-weight: 500;
    margin: 7px 0;
}

.subtitle {
    color: gray;
    font-size: 13px;
}

.modal-header {
    border: none;
}

.modal-content {
    position: absolute;
    padding: 20px 20px 20px 40px;
    border-radius: 0;
}

.closeBtn-and-heading {
    display: flex;
    justify-content: space-between;
    align-items: first baseline;
}

.close-btn {
    width: fit-content;
    padding: 5px 20px;
    border: 2px solid rgb(198, 195, 195);
    background-color: white;
    border-radius: 2px;
    font-weight: 500;
}
.modal-dialog {
    width: 700px;
    border-radius: 0;
}

@media (min-width: 576px) {
    .modal-dialog {
        margin-right: 15%;
        margin-left: auto;
    }
}
/* for modal */
.closeBtn-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.question-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.question{
    font-weight: 500;
}
.listcontainer{
    height: fit-content;

}
.listcontainer ul{
    gap: 10px;
}
ul, li{
    margin: 0 0 10px 7px;
    padding: 0;
}
.question-title{
    font-weight: 500;
    margin-bottom: 10px;
}
.questions{
    color: gray;
}
.sub-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mybtn{

    padding: 5px;
    font-size: 14px;
    border-radius: 3px;
    width: 150px;
}
.firstbtn{
    color: gray;
  
    border: 2px solid rgb(189, 188, 188);
    background-color: white;
}
.expansion-link{
    color: rgb(26 183 192);;
    font-weight: 400;
    font-size: 12px;
}
.sub-container-left{
    width: 60%;
}