/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.active{
    background-color: white;
    border-left: 5px solid #198754;
}
svg{
    cursor: pointer;
}
::-webkit-scrollbar{
    width: 0px;
}
::-webkit-scrollbar-track{
   background-color: rgb(159, 160, 160);
}
::-webkit-scrollbar-thumb{
    width: 0px;
    background-color: rgb(194, 192, 192);
}
.random-message{
    border: 2px solid rgb(226, 224, 224);
    margin-top: 15px; 
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    background-color:rgb(235, 234, 234) ;
    border-radius: 3px;
    width: fit-content;
 }
 /* for catchall and train your bot================== */
 .add-reply{
    margin-top: 80px;
} 
#reply{
width: 100%;
border: none;
height: 30px;
padding-left: 10px;
}
#reply:focus{
    outline: none;
}

.textarea-container{
    border: 2px solid rgb(202, 200, 200)
}

.letter-count{
   display: flex;
   justify-content: flex-end;
   gap: 5px;
   margin-right: 5px;
   
}
.char-counter{
    margin: 0;
    color: gray;
}